:root {
	--theme-color: #57b560;
}

%flex-center-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

%button-styles {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 0 26px;
	line-height: 48px;
	font-weight: 400;
	font-size: 1.1em;
	border-radius: 4px;

	img {
		margin-right: 10px;
		width: 20px;
	}
}

h1 {
	font-size: 2.6em;
	color: #4a5568;
}

h2 {
	margin-bottom: 20px;
	font-size: 1.15em;
	letter-spacing: 0.05em;
	color: #4a5568;
}

.navbar-component {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;

	.username {
		margin-right: 10px;
	}
}

.more-button-container {
	width: 40px;
	height: 35px;

	button {
		width: 100%;
		height: 100%;
		background-color: #85d48d;
		border-radius: 4px;

		img {
			width: 16px;
			vertical-align: -3px;
		}
	}
}

.more-items-dropdown {
	min-width: 140px;
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.07);
	right: 0;
	top: 45px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 8px;

	ul {
		li {
			padding: 4px 5px;
			border-radius: 4px;
			box-sizing: border-box;
			color: #6b6b6b;
			cursor: pointer;

			&:hover {
				background-color: #95d89c;
				color: #ffffff;
			}
		}
	}
}

.home-component {
	@extend %flex-center-column;
	height: 100%;

	.upload-file-container,
	.qrcode-container,
	.loading-container {
		@extend %flex-center-column;
		max-width: 550px;
		width: 95%;
		height: 360px;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.09);
		padding: 20px;
		box-sizing: border-box;
		border-radius: 5px;
	}

	.upload-file-container {
		position: relative;
		cursor: pointer;
		user-select: none;
	}

	span {
		color: #4a5568;
	}

	span.filename {
		margin-top: 15px;
	}

	span.progress {
		margin-top: 15px;
	}
}

.saved-skylinks-component {
	max-width: 400px;
	width: 95%;
	height: 500px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.09);
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;

	form {
		margin-top: 5px;
		border-top: 1px solid rgba(189, 189, 189, 0.63);
		border-bottom: 1px solid rgba(189, 189, 189, 0.63);
		padding-top: 10px;
		padding-bottom: 10px;

		> div {
			display: flex;
			flex-direction: column;
		}

		input {
			border: none;
			background-color: #f0f0f0;
			height: 25px;
			border-radius: 4px;

			&:nth-of-type(1) {
				margin-bottom: 10px;
			}
		}

		button {
			background-color: #85d48d;
			color: #ffffff;
			padding: 5px 20px;
			border-radius: 4px;
		}
	}

	.title-container {
		display: flex;
		align-items: center;

		button {
			background-color: transparent;
			width: 25px;
			height: 30px;
			margin-right: 15px;
		}

		img {
			vertical-align: -12px;
			cursor: pointer;
		}
	}

	h1 {
		font-size: 1.6em;
		font-weight: 500;
	}

	ul {
		overflow: auto;
		height: 100%;
		max-height: 240px;
		margin-top: 10px;

		&::-webkit-scrollbar-track {
			background-color: #e4e4e4;
		}

		&::-webkit-scrollbar {
			width: 5px;
			background-color: #f5f5f5;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #6cc775;
		}

		li {
			font-size: 1em;
			display: flex;
			align-items: center;
			justify-content: space-between;

			a:hover {
				color: #6cc775;
				text-decoration: underline;
				cursor: pointer;
			}
			
			&:not(:first-of-type) {
				margin-top: 8px;
			}

			button {
				width: 20px;
				height: 20px;
				background-color: transparent;

				&:nth-of-type(1) {
					margin-right: 10px;
				}

				img:nth-of-type(2) {
					margin-left: 10px;
				}
			}

			img {
				width: 20px;
			}
		}
	}

	.skylink-qr-code-preview {
		@extend %flex-center-column;
		position: absolute;
		z-index: 2;
		background: #a1e2a8b4;
		padding: 10px;
		width: 95%;
		height: 136px;
		top: 60px;
		margin-left: -20px;

		.close-button {
			position: absolute;
			right: 0;
			top: 10px;
			width: 20px;
			height: 20px;
			opacity: 0.3;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			&:before,
			&:after {
				position: absolute;
				content: ' ';
				height: 20px;
				width: 2px;
				background-color: rgb(29, 29, 29);
			}

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

.confirm-delete-modal-overlay {
	@extend %flex-center-column;
	background-color: #0000002c;
	position: absolute;
	width: 100%;
	height: 100%;

	.modal {
		width: 350px;
		height: 120px;
		border-radius: 10px;
		padding: 20px;
		box-sizing: border-box;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.buttons-container {
			display: flex;
			justify-content: flex-end;

			button {
				padding: 6px 10px;
			}

			button:nth-of-type(1) {
				margin-right: 10px;
				background-color: transparent;
			}

			button:nth-of-type(2) {
				border-radius: 5px;
				background-color: #82d88a;
				color: #ffffff;
			}
		}
	}
}

.droparea {
	position: absolute;
	background-color: #a4dbaa69;
	width: 95%;
	height: 92%;
	border-radius: 5px;
	border: 1px dashed var(--theme-color);
}

.logo {
	width: 40px;
}

.file-input-container {
	display: flex;
	z-index: 2;
}

.header {
	display: flex;
	margin-bottom: 5px;

	img {
		margin-right: 15px;
	}
}

.qrcode {
	margin-top: 10px;
}

.skylink {
	margin-top: 20px;
	font-size: 1em;
	color: #82d88a;

	&:hover {
		text-decoration: underline;
	}
}

.browse-button {
	@extend %button-styles;
	background: #ffffff;
	color: var(--theme-color);
	box-shadow: 0 0 16px 0 rgba(87, 181, 96, 0.1);
	border: 1px solid var(--theme-color);
	margin-right: 20px;
}

.upload-button {
	@extend %button-styles;
	background: #57b560;
	box-shadow: 0 0 16px 0 rgba(87, 181, 96, 0.1);
	text-align: center;
}

.back-to-upload-button {
	@extend %button-styles;
	line-height: 30px;
	background: #ffffff;
	color: var(--theme-color);
	box-shadow: 0 0 16px 0 rgba(87, 181, 96, 0.1);
	border: 1px solid var(--theme-color);
	margin-top: 20px;
}

.skynet-link {
	position: absolute;
	bottom: 10px;
	color: var(--theme-color);
	width: 100%;
	text-align: center;
}

.notify-button {
	padding: 0 32px;
	line-height: 35px;
	font-weight: 400;
	font-size: 1.1em;
	border-radius: 4px;
	margin-top: 10px;
	background-color: #e8ffe8;
	border: 1px solid var(--theme-color);
}

.loader {
	margin-top: 20px;
	display: flex;
	width: 2.5em;
	height: 2.5em;
	border: 3px solid transparent;
	border-top-color: var(--theme-color);
	border-bottom-color: var(--theme-color);
	border-radius: 50%;
	animation: spin 1.5s linear infinite;
	&:before {
		content: '';
		display: block;
		margin: auto;
		width: 0.4em;
		height: 0.4em;
		border: 3px solid var(--theme-color);
		border-radius: 50%;
		animation: pulse 1s alternate ease-in-out infinite;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}

@media (max-width: 350px) {
	.file-input-container {
		display: flex;
		flex-direction: column;

		.browse-button {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}
